

*{
    box-sizing: border-box;
}
body{
    /* background-color: lightgray; */
    margin: 0;
}
header{
    background-color: #FDF0D5;
    padding: 0px 40px;   /*上下 左右*/
    border-top: 8px solid #b11313;
}

h1{
    width: 20%;
    line-height: 80px;
    margin: 0;
    margin-right: 10%;
}
h1>a{
    color: black;
    text-decoration: none;
}

nav{
    width: 40%;
    margin-right: 15%;
}

nav>ul{
    list-style-type: none;
    padding: 0;
}

nav>ul>li{
    width: 25%;
    text-align: center;

}

nav>ul>li>a{
    line-height: 40px;
    /* background-color: orange; */
    display: block;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

nav>ul>li>a:hover{
    background-color: #447bbe;
}
.icon-facebook{ color:#4267B2; }
.icon-instagram{ color:#E1306C;}
.icon-line{color: #06c755;}
@media (max-width:767px){
    nav{display: none;}
}

.social-icon{
    width: 15%;
}
.social-icon>a{
    line-height: 80px;
    font-size: 20px;    
    margin-right: 10px;
}

.container{
    /* background-color: purple; */
    max-width: 1170px;
    width: 80%;
    margin: auto;  /*區塊置中*/
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;  /*轉為塊級*/
}
.float-left{
    float: left;
}


footer{
    color: white;
    text-align: center;
    background-color: #2b3784;
    
}
/*後代選取器 空白建*/
footer p{
    text-align: center;
    margin: 0;
}
.w-100{
    width: 100%;
}
.bg-light{
    background-color: rgb(68, 123, 190);
    padding: 20px 0px;
}
.bg-texture{
    background-image: url(../Spider-Man-Icon-Peel-And-Stick-Wallpaper_98dd8574-17b8-4ab9-b855-2f783588b463.a58b565e76288732a185d84072ecfe88.webp);
}
.bg-image{
    background-image: url(../images/images02.jpg);
    height: 100vh;    
    background-attachment: fixed;
    background-position: center;
    line-height: 600px;
    color: #FDF0D5;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    font-weight:bolder;

}
.breadcrumb{
    color: white;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.breadcrumb a{
    color: #b11313;
    text-decoration: none;
    font-weight:bolder;
}
.breadcrumb>li+li::before{
    content:"\00a0>\00a0"
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding: 10px;
}
.col-1{width: 8,333333%;}
.col-2{width: 16.666667%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.6666667%;}
.col-6{width: 50%;}
.col-7{width: 58.3333333%;}
.col-8{width: 66.6666667%;}
.col-9{width: 75%;}
.col-10{width: 83.3333333%;}
.col-11{width: 91.66666667%;}
.col-12{width: 100%;}

@media (max-width:767px){
    .col-6{width: 100%;}
}

.product img{
    width: 100%;
}
/*=============================================================*/
/*                      側邊攔                                 */
/*=============================================================*/

.sidebar{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidebar a{
    line-height:  40px;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;  /*字字距*/
    border-left: 5px solid white;
}
.sidebar a.active{
    border-left: 5px solid #b11313;

}
.sidebar a:hover{
    background-color: #f0f0f0;
}
/*============================================*/
/*                 表格                       */

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 170px;

}
th{
    background-color: rgb(128, 128, 128);
    color: white;
}
th, td{
    border: 1px solid gray;
    padding: 10px;
}
tr:nth-child(odd){
    background-color: rgb(221, 235, 247);
}
tr:hover{
    background-color: bisque;
}
/*=============================================================*/
/*                       表單                                  */
/*=============================================================*/

label{
    font-weight: 900;
}
input[type="text"], input[type="email"], input[type="file"], input[type="date"], select, textarea{
    width: 100%;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 4px;
}
input[type="submit"]{
    padding: 10px;
    border: none;
    background-color: rgb(50, 34, 133);
    color: white;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
}
/*  margin-bottom   */
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}
 .text-right{
    text-align: right;
 }

 /* 地圖取消最下面白邊 */

 iframe, img{
    vertical-align: top;
 }

 .position-relative{
    position: relative;    /*相對位置*/
 }
 .position-absolute{
    position: absolute;
 }
 .position-sticky{
    position: sticky;
    top: 0px;
 }
 .position-fixed{
    position: fixed;
 }
 .btn-order{
    width: 150px;
    line-height: 80px;
    background-color: #b11313;
    right: 0;
    top: 50%;
    margin-top: -40px;
    color: white;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s;
    box-shadow: 15px 13px 40px -25px black;
    border-radius: 10%
    
 }

.btn-order:hover{
    width: 180px;
    background-color: #DF1F2D;
    transition: all 0.5s;    /*轉變*/
}
 .tag{
    background-color: #DF1F2D;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    top: -25px;
    left: 50%;
    margin-left: -25px;

 }

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.border-radius{
    border-radius: 8px;
}
.overflow-hidden{
    overflow: hidden;              /*溢出:隱藏*/
}
.title{
    padding: 0 10px;
}

/*=============================================================*/
/*                       影片                                  */
/*=============================================================*/
.video-container { 
    position: relative; 
    width: 100%; 
    height: 0; 
    padding-bottom: 56.25%; 
    }

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }    